.blog-container {
    display:flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
}

.post {
    text-align: left;
    margin: auto;
    padding-top: 2%;
    width: 90%;
    padding-bottom: 2.5%;
}

.post:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 4%;
    border-bottom: 1px solid white;
}

.post .timestamp {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.post .post-content {
    width: 95%;
    margin: auto;
}