.homePage {
    padding-left: 10%;
    padding-right: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

.row {
    margin-top: 2%;
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: left;
}

.aboutMe {
    text-align: left;
    height: 100%;
    width: 100%;
    margin-left: 50%;
}

.aboutMe h1 {
    margin-bottom: 0;
    font-size: 3.2vw;
}

.aboutMe h2 {
    margin-top: 0;
    margin-bottom: 7%;
    color: #c8c8c8;
    font-size: 1.7vw;
}

.aboutMe p{
    font-weight: bold;
    padding-left: 22px;
    text-indent: -22px;
    line-height: 3.3vh;
    margin: 3% 0%;
    font-size: 1.4vw;
    text-align: justify;
}

.emphasis {
    color: #ff9999;
}