.workContainer {
  margin-bottom: 3%;
}

.workTitle {
  font-size: 3vw;
}

.workInfo {
  text-align: left;
  width: 70%;
  margin: auto;
  margin-bottom: 2%;
}

.workInfo::after {
  content: '';
  margin-top: 4%;
  margin-left: -5%;
  display: block;
  width: 110%;
  border-bottom: 1px solid white;
}

.clickable {
  color: #ff9999;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}
