.workContainer {
  margin-bottom: 3%;
}

.workTitle {
  font-size: 3vw;
}

.workInfo {
  text-align: left;
  width: 70%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 3%;
  font-weight: bold;
  font-size: 1.2vw;
}

.workInfo::after {
  content: '';
  margin-top: 4%;
  margin-left: -5%;
  display: block;
  width: 110%;
  border-bottom: 1px solid white;
}

.clickable {
  /* color: #ff9999; */
  color: white;
  background-color: #465579;
  padding: 0.1% 0.1%;
  margin-left: 50%;
  height: 1.8vw;
  width: 7.6vw;
  text-align: center;
  border: 0.75px solid white;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
}

.clickable:hover {
  cursor: pointer;
  background-color: #263559;
}
